@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-qgzqps');
	src:url('fonts/icomoon.eot?#iefix-qgzqps') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-qgzqps') format('truetype'),
		url('fonts/icomoon.woff?-qgzqps') format('woff'),
		url('fonts/icomoon.svg?-qgzqps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fb-inverz:before {
	content: "\e600";
}
.icon-fb:before {
	content: "\e601";
}
