<div id="menu">
    <div class="menu-inner row clearfix">
        <a class="menu-logo" href="{% url 'home' %}">pylvax</a>
        <ul>
            {% for item in menu_list %}
            <li>
                <a href="{% url item.slug %}" {% if item.slug == active %}class="active"{% endif %}>{{ item.text }}</a>
            </li>
            {% endfor %}
            <li><a href="https://www.facebook.com/groups/pylvax/" target="_blank">facebook</a>
        </ul>
    </div>
</div>
