{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}

    <div id="content">
        <div id="subpage" class="about row">
            <div class="home-boxes-wrapper">
                <ul class="home-boxes clearfix">
                    {% for item in home_list %}

                        <a {% if item.url %} href="{{ item.url }}" {% else %} href="#" class="disabled"{% endif %}>
                            <div class="markdown">{{ item.szoveg }}</div>
                        </a>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
