{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}
    <div id="home-page">
        <a href="{% url 'about' %}" class="home-title">print "hello world"</a>
    </div>
{% endblock %}
