{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}
    <div id="content">
        <div id="subpage" class="row">
            <div class="markdown">{{info_content.szoveg}}</div>
        </div>
    </div>

{% endblock %}
