{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}
    <div id="content">
        <div id="subpage" class="row clearfix">
            {% for pic in pic_list %}
            {% if pic.kep_file %}
            <img class="pylvax_img" src="/media/{{ pic.kep_file }}">
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
