{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}
    <div id="content">
        <div id="subpage" class="row">
            <h1>{{topic.cim}}</h1>
            <p>{{topic.datum}}</p>
            <div class="markdown">{{topic.leiras}}</div>
        </div>
    </div>

{% endblock %}
