{% extends 'base.html' %}

{% block menu_block %}
    {% include 'pylvax_app/_menu.html' %}
{% endblock %}

{% block content_block %}

    <div id="content">
        <div id="subpage" class="row">
            {% for item in topic_list %}
                <div class="topic-li">
                    <a href="{% url 'topic_item' item.slug %}"><h2>{{item.cim}}</h2></a>
                    <p>{{item.datum}}</p>
                    <a href="{% url 'topic_item' item.slug %}" class="more">>>></a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
